*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body { background-color: rgba(199, 196, 196, 0.473);}
.header{
    background-image: url("https://gcdn.pbrd.co/images/9s8dhepfQKU3.png?fbclid=IwAR3opU1rRLU9ZZXcJI-wFXWZqkT8BQrp5K6CyVzLDZThUn__gf-pmzHf3cQ");
    height: 10%;
    width: 100%;
    color: white;
    border: 0px white solid;
    border-bottom-left-radius: 60px;
    padding: 30px 0 0 80px;
}
#title{
    font: 200% monospace;
    margin: 0 0 3.7% 7%;
    height: 10%;
}
.part{
    display: flex;
    width: 90%;
}
.headContainer{
    height: 1000px;
    width: 94.7%;
}
.sit{
    display: flex;
    background-color: white;
    color: black;
    margin: 56px 0 0 17%;
    width: 60%;
}
.words { margin: 0 35% 0 0;} 
#Tpart{margin: 34px;}
#Bpart{margin: 0 0 0 20%;}
#W1{
    color: black;
    font-family: Sans-serif;
}
.foo{
    background-color: white;
    width: 105.4%;
    height: 50px;
    color: black;
    padding: 34px;
    margin-top: 5%;

}
#imgscoot{
    width:110px ;
    height: 110px;
    margin: 0 0 0 0;
}
.bodydiv{
    background-color: white;
    width: 52%;
    margin: 108px 0 0 23.3%;
    padding: 4%;
}
#btn1{
    position: absolute;
    left: 66%;
    width: 109px;
    height: 32px;
    margin: 0 0 5% 0;
    color: rgb(82, 82, 201);
    background-color: rgba(199, 196, 196, 0.445);
    font-family: Sans-serif;
    border: 2px solid rgba(199, 196, 196, 0.473);
    border-radius: 2px;

}
.btn{
    width: 109px;
    height: 32px;
    padding: 5px;
    color:white;
    background-color: rgb(82, 82, 201);
    font-family: Sans-serif;
    border: 2px solid rgb(82, 82, 201);
    border-radius: 4px;
}
#btn2 { 
    float: right;
    margin:0 2%  5% 0;
}
#btn3 { 
    position: absolute;
    left: 70%;
    
}
#bottom{
    width: 52%;
}
.W{
    color:rgb(143, 141, 141);
}
#P1 { 
    color: black;
}
#P2 { color: rgb(82, 82, 201);}
#P3 { 
    color: black;
    font-size: medium;
}
#P4{
    color: black;
    font-size: medium;
}
#P5{
    color: black;
}
